div.img
	img(src=src_img border='1')
div.text
	h2= name
	table(border="0")
		tr
			td 
				h4 Тип корабля:
			td
				p= type
		tr
			td 
				h4 Государство:
			td
				p.color= state
		tr
			td 
				h4 Описание:
			td
				p= description