- var status = "ship"
block variables

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Корабли - Eve Online

        link(rel="stylesheet", href="css/main.css")
    body
        div.block_menu
            include ../components/block_menu.pug
        div.block_tree
            include ../components/block_tree-ship.pug

        div.block_data
            .ship_block_img
                .img
                    img(src='img/' + nameShip + '.jpg' border='1')
                .text
                    h2= nameShip
                    table(border='0')
                        tr
                            td
                                h4 &Tcy;&icy;&pcy; &kcy;&ocy;&rcy;&acy;&bcy;&lcy;&yacy;:
                            td
                                p= typeShip
                        tr
                            td
                                h4 &Gcy;&ocy;&scy;&ucy;&dcy;&acy;&rcy;&scy;&tcy;&vcy;&ocy;:
                            td
                                p.color_Amarr Amarr
                        tr
                            td
                                h4 &TScy;&iecy;&ncy;&acy;:
                            td
                                p
                                    span= price
                                    span  ISK
                        tr
                            td
                                h4 &Ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy;:
                            td
                                    p= description
            .ship_block_text
                .characteristic
                    fieldset.global
                        legend
                            h4 &KHcy;&acy;&rcy;&acy;&kcy;&tcy;&iecy;&rcy;&icy;&scy;&tcy;&icy;&kcy;&icy;
                        fieldset
                            legend
                                h4 &Kcy;&ocy;&rcy;&pcy;&ucy;&scy;
                            table(border='0')
                                tr
                                    td.field &Zcy;&acy;&pcy;&acy;&scy; &pcy;&rcy;&ocy;&chcy;&ncy;&ocy;&scy;&tcy;&icy; &kcy;&ocy;&rcy;&pcy;&ucy;&scy;&acy;:
                                    td.data
                                        span= hullStrength
                                        span  &iecy;&dcy;.
                                tr  
                                tr
                                    td.field &Vcy;&mcy;&iecy;&scy;&tcy;&icy;&mcy;&ocy;&scy;&tcy;&softcy; &gcy;&rcy;&ucy;&zcy;&ocy;&vcy;&ocy;&gcy;&ocy; &ocy;&tcy;&scy;&iecy;&kcy;&acy;:
                                    td.data
                                        span= cargo
                                        span  &mcy;^3
                                tr
                                    td.field &Ocy;&bcy;&hardcy;&iecy;&mcy; &ocy;&tcy;&scy;&iecy;&kcy;&acy; &dcy;&lcy;&yacy; &dcy;&rcy;&ocy;&ncy;&ocy;&vcy;:
                                    td.data
                                        span= droneCompartment
                                        span  &mcy;^3
                                tr
                                    td.field &Pcy;&rcy;&ocy;&pcy;&ucy;&scy;&kcy;&ncy;&acy;&yacy; &scy;&pcy;&ocy;&scy;&ocy;&bcy;&ncy;&ocy;&scy;&tcy;&softcy; &kcy;&acy;&ncy;&acy;&lcy;&acy; &tcy;&iecy;&lcy;&iecy;&ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy;:
                                    td.data
                                        span= telecontrolChannel
                                        span  &Mcy;&bcy;&icy;&tcy;/&scy;
                        fieldset
                            legend
                                h4 &Bcy;&rcy;&ocy;&ncy;&yacy;
                            table(border='0')
                                tr
                                    td.field &Zcy;&acy;&pcy;&acy;&scy; &pcy;&rcy;&ocy;&chcy;&ncy;&ocy;&scy;&tcy;&icy; &bcy;&rcy;&ocy;&ncy;&icy;:
                                    td.data
                                        span= armorStrength
                                        span  &iecy;&dcy;.
                        fieldset
                            legend
                                h4 &SHCHcy;&icy;&tcy;
                            table(border='0')
                                tr
                                    td.field &Zcy;&acy;&pcy;&acy;&scy; &pcy;&rcy;&ocy;&chcy;&ncy;&ocy;&scy;&tcy;&icy; &shchcy;&icy;&tcy;&acy;:
                                    td.data
                                        span= shieldStrength
                                        span  &iecy;&dcy;.
                                tr
                                    td.field &Vcy;&rcy;&iecy;&mcy;&yacy; &rcy;&iecy;&gcy;&iecy;&ncy;&iecy;&rcy;&acy;&tscy;&icy;&icy; &shchcy;&icy;&tcy;&ocy;&vcy;:
                                    td.data
                                        span= shieldRegen
                                        span  &scy;.
                        fieldset
                            legend
                                h4 &Ncy;&acy;&kcy;&ocy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy; &ecy;&ncy;&iecy;&rcy;&gcy;&icy;&icy;
                            table(border='0')
                                tr
                                    td.field &IEcy;&mcy;&kcy;&ocy;&scy;&tcy;&softcy; &ncy;&acy;&kcy;&ocy;&pcy;&icy;&tcy;&iecy;&lcy;&yacy;:
                                    td.data
                                        span= capacity
                                        span  &Gcy;&Dcy;&zhcy;
                                tr
                                    td.field &Vcy;&rcy;&iecy;&mcy;&yacy; &vcy;&ocy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &zcy;&acy;&rcy;&yacy;&dcy;&acy;:
                                    td.data
                                        span= energyRegen
                                        span  &scy;.
                        fieldset
                            legend
                                h4 &TScy;&iecy;&lcy;&iecy;&ucy;&kcy;&acy;&zcy;&acy;&ncy;&icy;&yacy;
                            table(border='0')
                                tr
                                    td.field &Mcy;&acy;&kcy;&scy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &dcy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy; &zcy;&acy;&khcy;&vcy;&acy;&tcy;&acy; &tscy;&iecy;&lcy;&icy;:
                                    td.data
                                        span= captureRange
                                        span  &kcy;&mcy;
                                tr
                                    td.field &Mcy;&acy;&kcy;&scy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&ocy;&iecy; &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &zcy;&acy;&khcy;&vcy;&acy;&chcy;&iecy;&ncy;&ncy;&ycy;&khcy; &tscy;&iecy;&lcy;&iecy;&jcy;:
                                    td.data= amount
                        fieldset
                            legend
                                h4 &Dcy;&vcy;&icy;&gcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&acy;
                            table(border='0')
                                tr
                                    td.field &Mcy;&acy;&kcy;&scy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &scy;&kcy;&ocy;&rcy;&ocy;&scy;&tcy;&softcy;:
                                    td.data
                                        span= speed
                                        span  &mcy;/&scy;
                                tr
                                    td.field &Scy;&kcy;&ocy;&rcy;&ocy;&scy;&tcy;&softcy; &vcy; &vcy;&acy;&rcy;&pcy;-&rcy;&iecy;&zhcy;&icy;&mcy;&iecy;:
                                    td.data
                                        span= warp_mode
                                        span  &acy;.&iecy;./&scy;.
                .equipment
                    fieldset.global
                        legend
                            h4 &Scy;&lcy;&ucy;&zhcy;&iecy;&bcy;&ncy;&ocy;&iecy; &ocy;&scy;&ncy;&acy;&shchcy;&iecy;&ncy;&icy;&iecy;
                        fieldset
                            legend
                                h4 &Scy;&icy;&scy;&tcy;&iecy;&mcy;&ycy;
                            table(border='0')
                                tr
                                    td.field &Mcy;&ocy;&shchcy;&ncy;&ocy;&scy;&tcy;&softcy; &TScy;&Pcy;&Ucy;:
                                    td.data
                                        span= CPU
                                        span  &Tcy;&fcy;
                                tr
                                    td.field &Mcy;&ocy;&shchcy;&ncy;&ocy;&scy;&tcy;&softcy; &rcy;&iecy;&acy;&kcy;&tcy;&ocy;&rcy;&acy;:
                                    td.data
                                        span= reactor
                                        span  &Mcy;&Vcy;&tcy;
                        fieldset
                            legend
                                h4 &Tcy;&ocy;&chcy;&kcy;&icy; &mcy;&ocy;&ncy;&tcy;&acy;&zhcy;&acy;
                            table(border='0')
                                tr
                                    td.field &Ocy;&rcy;&ucy;&dcy;&icy;&jcy;&ncy;&ycy;&iecy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&icy;:
                                    td.data= pointsGun
                                tr
                                    td.field &Pcy;&ucy;&scy;&kcy;&ocy;&vcy;&ycy;&iecy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&icy;:
                                    td.data= pointsLauncher
                        fieldset
                            legend
                                h4 &Rcy;&acy;&zcy;&hardcy;&iecy;&mcy;&ycy;
                            table(border='0')
                                tr
                                    td.field &Rcy;&acy;&zcy;&hardcy;&iecy;&mcy;&ycy; &bcy;&ocy;&lcy;&softcy;&shcy;&ocy;&jcy; &mcy;&ocy;&shchcy;&ncy;&ocy;&scy;&tcy;&icy;:
                                    td.data= connectHPower
                                tr
                                    td.field &Rcy;&acy;&zcy;&hardcy;&iecy;&mcy;&ycy; &scy;&rcy;&iecy;&dcy;&ncy;&iecy;&jcy; &mcy;&ocy;&shchcy;&ncy;&ocy;&scy;&tcy;&icy;:
                                    td.data= connectMPower
                                tr
                                    td.field &Rcy;&acy;&zcy;&hardcy;&iecy;&mcy;&ycy; &mcy;&acy;&lcy;&ocy;&jcy; &mcy;&ocy;&shchcy;&ncy;&ocy;&scy;&tcy;&icy;:
                                    td.data= connectLPower